{% extends "compartidos/base.html" %} {% block head %} <title>Trips</title> 
{% endblock head %}
{% block h1_header %} Trips {% endblock h1_header %}
{% block main %}

<a class="navbar-brand" href={% url "crear_viaje" %} >Create a trip</a>
<form action="">
    {{formulario}}
    <input type="submit" value="Buscar" />
</form>

{% if viajes_encontrados %}
<ul>
    {% for viaje in viajes_encontrados %}
        <li>
        <a href={% url "detalle_viaje" viaje.id %}>{{viaje.ciudad}}</a> | <a href={% url "editar_viaje" viaje.id %}>Edit</a> | <a href={% url "eliminar_viaje" viaje.id %}>Delete</a>
        
        </li>
    {% endfor %}
</ul>

{% else %}
<p>There are no trips for this place created, please feel free to create one! </p>
{% endif %}
{% endblock main %}