{% extends "compartidos/base.html" %} {% block head %} <title>Lista de Tips!</title> {% endblock head %}
{% block h1_header %} Tips para tu viaje {% endblock h1_header %}
{% block main %}

<a class="navbar-brand" href={% url "create_tips" %} >Crear un tip</a>

<form action="">
    {{formulario}}
    <input type="submit" value="Buscar" />
</form>

{% if list_tips %}
<ul>
    {% for tips in list_tips %}
        <li>
        <a href={% url "detail_tips" tips.id %}>Detalles</a> | <a href={% url "update_tips" tips.id %}>Actualizar</a> | <a href={% url "delete_tips" tips.id %}>Borrar</a>
        
        </li>
    {% endfor %}
</ul>

{% else %}
<p>No existen tips para ese lugar. </p>
{% endif %}
{% endblock main %}